
<h1 mat-dialog-title>Select Business</h1>

<div mat-dialog-content>
    <mat-form-field class="form-field">
        <mat-label>Business</mat-label>

        <input matInput [formControl]="searchControl" placeholder="Type to search" (keyup)="onSearchKeyUp()" />

        <mat-select #businessSelect [formControl]="businessControl" required panelClass="search-select-panel" (selectionChange)="onSelectionChange()">

            @for (business of filteredBusinesses; track business) {
            <mat-option [value]="business">
                {{business.businessName}} ({{business.businessId}})

            </mat-option>
            }

        </mat-select>

        @if (businessControl.hasError('required')) {
        <mat-error>Please choose an business</mat-error>
        }
    </mat-form-field>
</div>

<div mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="onCancel()">No Thanks</button>
    <button mat-button (click)="onConfirm()" [disabled]="!businessControl.valid">Confirm</button>
</div>