<div class="container-fluid d-flex align-items-center text-light vh-100">
    <div class="container">

        <div class="row rounded-4 justify-content-center bg-image"
            style=" width: 80em; height: 45em; box-shadow: 10px 10px 5px rgb(60, 60, 61)">



            <div class="col-sm">
                <div>
                    <img src="geekywolf-white-logo.svg" class="m-3">
                </div>
            </div>

            <div class="col-sm align-content-center text-center text-dark">

                <div class="container w-50 p-5 rounded-4" style="background-color: aliceblue;">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>